{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- -----------------------*******------------------------ -->
<section class="abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h2>Search for Food</h2>
                    <ol>
                        <li>Home <i class="fa fa-arrow-right"></i></li>
                        <li>Search for Food</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="menu-items menu-items-01">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Search for Food</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="wrapper">
                    <div class="tab-content" id="myTabContent">
                       <div class="tab-pane fade show active" id="starters" role="tabpanel" aria-labelledby="starters-item">
                           <div class="row">

                            {% for product in products %}
                            {% include 'list_item.html' %}
                            {% endfor %}
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- -----------------------*******------------------------ -->
<section class="bg-se">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h5>Celebrate at one of NY’s most awarded restaurant.
                        <span>Only this month, business lunch from $25.90</span>
                   </h5>
                   <a href="#">Get Offer</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

    
